.bgimage{
    background: rgb(0,36,20);
    background: linear-gradient(180deg, rgba(0,36,20,1) 0%, rgb(97, 133, 100) 0%, rgba(255,255,255,1) 100%);
    height: 100vh;
    z-index: 11;
}
img.sticky{
    position: -webkit-sticky;
    position: absolute;
    float: right;
    top: 0;
    right: 0px;
    z-index:0;
    height: 100vh;
}

.navbar{
    position: relative;
    z-index: 100;
}

img.logo{
    filter: invert(100%);
    max-width: 600px;
}

.card{

    max-width: 500px;
    background-color: rgb(232, 232, 232, .5);

}

.col-sm-6{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.scroll {
    max-height: 550px;
    overflow-y: auto;
}